<head>
  @{
      ViewData["Title"] = "All Results Page";
  }
  <style>
    .lister_name {
      color: #004010;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .listing {
      border: none;
      border-radius: 3px;
      box-shadow: 5px 5px 7px #a5d447;
      list-style-type: none;
      margin: 0 auto 30px;
      padding: 20px 100px;
      position: relative;
      text-align: left;
    }

    .results_title {
      color: #004010;
      font-size: 20px;
      margin-bottom: 20px;
    }

    #contact {
    background-color: white;
    color: forestgreen;
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 8px;
    transition: all 200ms ease-in-out;       
    }

    #contact:hover {
      background-color: #eefcd4;
      cursor: pointer;
    }

    #slogan {
    border-bottom: 0.2px groove;
    color: forestgreen;
    font-style: italic;
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 34px;
}

  </style>
</head>  

<body>
  <div class="text-center">
    <h1 id="slogan">Where good neighbours become good friends</h1>
  </div>

@* <div>
  @ViewBag.Location </br></br>
  @ViewBag.Requirements 
</div> *@

@* @if(ViewBag.Location == "" && ViewBag.Requirements == "")
{
  <p>You haven't entered anything.</p>
}
else if(ViewBag.Location == "")
{
  <p>You haven't entered a location.</p>
}
else if(ViewBag.Requirements == "")
{
  <p>You haven't entered an item or service.</p>
} *@

<div>
  <h5 class="results_title">All Results</h5>

  @foreach (Listing listing in ViewBag.Listings)
  {
    <li class="listing">
      <div>
        <p class="lister_name">@listing.User.Name</p>
        <p class="listed_location">Location: <em>@listing.Location</em></p>
        <p class="listed_requirements">Item/Service: <em>@listing.Item_Service</em></p>
        <p class="listed_description">Description: <em>@listing.Description</em></p>
        <form action="/user-profile" method="get">
          <input type='hidden' id='user-id' name='user-id' value='@listing.UserId'/>
          <input type='submit' id='contact' value='Contact @listing.User.Name, your friendly neighbour'/>
        </form>
      </div>
    </li>
  }
  </ul>

</div>
</body>