<head>
  <style>
    h2 {
      text-align: center;
    }
    form {
      margin-bottom: 50px;
    }

    textarea {
      resize: auto;
      width: 500px;
    }

    .post {
      border: none  blueviolet;
      border-radius: 3px;
      box-shadow: 5px 5px 7px rgb(150
      , 122, 168);
      list-style-type: none;
      margin: 0 auto 30px;
      padding: 20px 100px;
      position: relative;
      text-align: center;
    }

    .poster_name {
      color: #5d0b93;
      position: absolute;
      top: 0px !important;
      left: 0px !important;
    }

    .profile_username {
      text-align: left;
    }
    .time_posted {
      position: absolute; 
      top: 24px !important;
      left: 5px !important;
      font-size: x-small;
 
    }
  </style>
</head>


<body>
  <div class="text-center">
    <h1 id="slogan">Where good neighbours become good friends</h1>
  </div>

  <h4 class="profile_username">@ViewBag.Name</h4><br><br>

  <p>Email: @ViewBag.User.Email</p>

  <h6>My Listings</h6>
  <ul>
  @foreach (Listing listing in ViewBag.Listings)
  {
    <li class="listing">
      <div>
        <p class="listed_location">@listing.Location</p>
        <p class="listed_requirements">@listing.Item_Service</p>
        <p class="listed_description">@listing.Description</p>
        <p class="listed_price">£@listing.Price</p>
      </div>
    </li>
  }
  </ul>
</body>
