<head>
  <style>
.listing {
      border: none  blueviolet;
      border-radius: 3px;
      box-shadow: 5px 5px 7px #a5d447;
      list-style-type: none;
      margin: 0 auto 30px;
      padding: 20px 100px;
      position: relative;
      text-align: center;
    }
  </style>
</head>  

@* <div>
  @ViewBag.Location </br></br>
  @ViewBag.Requirements 
</div> *@

  <ul>
  @foreach (Listing listing in ViewBag.Listings)
  {
    <li class="listing">
      <div>
        <p class="lister_name">@listing.User.Name</p>
        <p class="listed_location">Location: <em>@listing.Location</em></p>
        <p class="listed_requirements">Item/Service: <em>@listing.Item_Service</em></p>
        <p class="listed_description">Description: <em>@listing.Description</em></p>
        <p class="listed_price">Price: <em>@listing.Price</em></p>
        <form action="/user-profile" method="get">
          <input type='hidden' id='user-id' name='user-id' value='@listing.UserId'/>
          <input type='submit' id='contact' value='Contact @listing.User.Name, your friendly neighbour'/>
        </form>
      </div>
    </li>
  }
  </ul>
