<head>
  <style>
    h2 {
      text-align: center;
    }

    h6 {
      font-weight: bold;
    }

    form {
      margin-bottom: 50px;
    }


    .listing {
      border: none;
      border-radius: 3px;
      box-shadow: 5px 5px 7px #a5d447;
      list-style-type: none;
      margin: 0 auto 30px;
      padding: 20px 100px;
      position: relative;
      text-align: left;
    }

    .profile_contact_details {
      border: none;
      border-radius: 3px;
      box-shadow: 5px 5px 7px grey;
      margin: 0 10px 30px;
      padding: 20px 10px;
      position: relative;
      text-align: left;
      width: 350px;
    }

    .profile_username {
      text-align: left;
    }
    @* .time_posted {
      position: absolute; 
      top: 24px !important;
      left: 5px !important;
      font-size: x-small;
    } *@

    #slogan {
    margin-top: 0;
    color: forestgreen;
    border-bottom: 0.2px groove;
    padding-top: 20px;
    padding-bottom: 34px;
    font-style: italic;
    }
  </style>
</head>


<body>
  <div class="text-center">
    <h1 id="slogan">Where good neighbours become good friends</h1>
  </div>

  <div class="profile_space_container">
    <h4 class="profile_username">@ViewBag.User.Name</h4><br><br>
    <div class="profile_contact_details">
      <h6>Contact Details</h6>
      <p>Email: @ViewBag.User.Email</p>
      <p>Contact number: @ViewBag.User.PhoneNumber</p>
      <p>Address: @ViewBag.User.Address</p>
    </div>

  <h6>@ViewBag.User.Name's Listings</h6>
  
  <ul>
  @foreach (Listing listing in ViewBag.Listings)
  {
    <li class="listing">
      <div>
        <p class="listed_location">Location: <em>@listing.Location</em></p>
        <p class="listed_requirements">Item/Service: <em>@listing.Item_Service</em></p>
        <p class="listed_description">Description: <em>@listing.Description</em></p>
        <p class="listed_price">Price: <em>@listing.Price</em></p>
      </div>
    </li>
  }
  </ul>
</body>
